@import './base.css';


#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 8px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border-bottom-right-radius: 4px;
}

